<!doctype html>
<head>
  <title>Sketch</title>
  <style type="text/css">
    body{
        margin: 0 auto;
        width: 800px;
    }
    canvas {
        border: 10px solid black;
        width : 200px;
        height : 200px;
    }
    table {
        border : 1px solid black;
    }
    td {
        border : 1px solid black;
    }
  </style>
  
  <script src="static/jquery-1.8.3.min.js"></script>
  <script src="static/sketch.js"></script>
  <script src="static/sketchpad.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script type='text/javascript'>
  $(document).ready(function(){
  });
 </script>

</head>

<body>
  {% block body %}
  {% endblock %}
</body>
